/*

  For illustration course

*/

/*body{
  overflow: scroll;
}*/

body {
    overflow: scroll;
    background: url(...) no-repeat center center fixed; 
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
}

body:after{
      content:"";
      position:fixed; /* stretch a fixed position to the whole screen */
      top:0;
      height:100vh; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      /*background: url(https://www.w3schools.com/css/trolltunga.jpg) center center;*/
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}


#horizontalParallaxContainer{
  display: flex;
  justify-content: space-between;
  position:relative;
  /*the width will depend on the number of images:*/
  width: 600%;
  width: 8802px;
  height: auto;
  max-height: 2048px;

  background: #2980B9; 
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
}

.parallaxElement{
  background-attachment: fixed;
  position:relative;
  display: inline-block;

  width:3534px;
  height:100vh;
  /*border: 3px solid red;*/
}

.parallaxImg{
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100vh;

  max-height: 2048px;
  max-width: 3534px;

  overflow: auto;
  /*border: 3px solid black;*/

}



/*.

  Section Backgrounds:

}*/

#somes3 {
  background-image: url("../artwork/somes3.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: grey
}


#testbg {
  background-image: url("../artwork/testbg.PNG");
  background-size: cover;
  background-repeat: no-repeat;
}

/*
Gonna need SASS to handle if statements..

#testbg h1{
  color:red;
  transition: width 2s;
}*/


/*
  The first and Last section need to be identical in order to give the illussion of an infinite website.
}*/
/*#section1, #sectionLast {
  background-image: url("../artwork/section1/1.PNG");
  background-size: cover;
  background-repeat: no-repeat;
}

#section2{
  background-image: url("../artwork/section2/1.PNG");
  background-size: cover;
  background-repeat: no-repeat;
}

#section3{
  background-image: url("../artwork/section3/1.PNG");
  background-size: cover;
  background-repeat: no-repeat;
}

#section4{
  background-image: url("../artwork/section4/1.PNG");
  background-size: cover;
  background-repeat: no-repeat;
}

#section5{
  background-image: url("../artwork/section5/1.PNG");
  background-size: cover;
  background-repeat: no-repeat;
}
*/


/*.

  Image Experimentation:

}*/


.showImg{
  background-image: url("../artwork/testshow.PNG");
  position: absolute; 
  top: 0; 
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;

}

.hideImg{
  background-image: url("../artwork/testhide.PNG");
  position: absolute; 
  top: 0; 
  left: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
}

.backImg{
  background-image: url("../artwork/testbackwards.PNG");
  position: absolute; 
  top: 0; 
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
}

